@import url("./root.css");


.form-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;
}
.form-register label{
    align-self: flex-start;
}
.form-register input{
    padding: .5rem;
    border-radius: .4rem;
    border: 2px solid #565869;
    outline: none;
}
.btn-start{
    padding: .5rem;
    width: 100%;
    border-radius: .4rem;
    color: white;
    border: 2px solid #565869;
    transition: all 300ms ease-in-out;
    text-align: center;
    background: none;
    cursor: pointer;
}
.btn-start:hover{
    background: #393b46;
    transform: scale(1.02, 1.02);
}
.none-jam{
    font-size: 1.3rem;
    color: aqua;
    font-family: var(--noneFont);
}